---
# Modern C++20 clang-format config based on Google style
Language: Cpp
BasedOnStyle: Google

# C++ version
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentExternBlock: NoIndent
IndentRequiresClause: true
IndentWrappedFunctionNames: false
LambdaBodyIndentation: Signature

# Line breaking
ColumnLimit: 120
ReflowComments: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman  # Change to Attach if you prefer Google's style
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

# Alignment
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Empty lines
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Packing
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: NextLine

# Include sorting
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Main header (for .cpp files)
  - Regex:           '^".*\.h"$'
    Priority:        1
    SortPriority:    1
  # Project headers
  - Regex:           '^"kio/'
    Priority:        2
    SortPriority:    2
  # Third-party libraries
  - Regex:           '^<(liburing|folly|boost)/'
    Priority:        3
    SortPriority:    3
  # C++ standard library
  - Regex:           '^<[a-z_]+>$'
    Priority:        4
    SortPriority:    4
  # C standard library
  - Regex:           '^<[a-z_]+\.h>$'
    Priority:        5
    SortPriority:    5
  # System headers
  - Regex:           '^<(sys|linux)/'
    Priority:        6
    SortPriority:    6

# Other
AccessModifierOffset: -4
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
NamespaceIndentation: None
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyIndentedWhitespace: 0
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 1
SortUsingDeclarations: true

# Requires and concepts (C++20)
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

# Attributes
AttributeMacros: ['DEPRECATED', '__attribute__((packed))']

# Comments
CommentPragmas: '^ (NOLINT|NOLINTNEXTLINE|IWYU pragma:)'
